@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }

#a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(30, 124, 131);
  width: 100%;
  padding: 12px 10px 12px 5px;
  transition: ease .5s;
  white-space: nowrap;
  /* border-bottom: 1px solid rgb(71, 70, 70); */
}
span{
    color: rgb(255, 255, 255);
    flex-wrap: nowrap;
    white-space: nowrap;
}
#a:hover{
    background-color: #282828;
}
#a>i{
    margin: 0px 15px 0 20px;
    color: rgb(255, 255, 255);
}
i{
  color: rgb(255, 255, 255);
    font-size: 35px;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.section {
  padding: 2rem 0;
}

.nav__link {
  display: flex;
  font-weight: 500;
  transition: .3s;
}

.nav__link i {
  font-size: 1.25rem;
}

  .container {
    margin-left: 7rem;
    margin-right: 1.5rem;
  }
  .nav {
    position: fixed;
    left: 0;
    background-image: url(../images/fundopreto.jpeg);
    background-position: center;
    background-size: cover;
    box-shadow: 1px 0 4px hsla(228, 81%, 49%, .15);
    width: 70px;
    height: 100vh;
    padding: 55px 0 0 0;
    transition: .3s;
  }
  .nav__logo {
    display: flex;
    /* border-top: 1px solid rgb(71, 70, 70); */
  }
  .nav__logo i {
    font-size: 1.25rem;
    color: rgb(219, 1, 1);
  }
  .nav__logo-name {
    color: rgb(255, 241, 241);
    font-weight: 600;
  }
  .nav__logo, .nav__link {
    align-items: center;
    column-gap: 1rem;
  }
  .nav__list {
    display: grid;
  }
  .nav__content {
    overflow: hidden;
    height: 100%;
  }
  .nav__toggle {
    /* border-bottom: 1px solid rgb(71, 70, 70); */
    position: absolute;
    width: 45px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(120, 2, 255);
    border-radius: 5px;
    display: grid;
    place-items: center;
    top: 10px;
    margin-left: 12px;
    float: left;
    cursor: pointer;
    transition: .4s;
  }
  @media (max-width: 1250px){
        .nav{
            width: 0;
        }
  }

.show-menu {
  width: 250px;
}
p{
  position: fixed; 
  font-size: 30px;
  font-weight: 550;
  display: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rotate-icon{
  transform: rotate(180deg);
}
.rotate-icon>p{
  color: white;
  display: block;
  background-color: red;
  padding: 1px 11px 1px 11px;
  border-radius: 3px;
}
